page-search {
    .scroll-content{background: #fff;}
    .grid{
        padding-left:15px;
        padding-right:15px;
    }
    ion-header{
        ion-title{
            input{
                width:100%;
                text-align: center;
                font-size: 14px;
                padding-top:5px;
                padding-bottom:5px 
            }
        }
    }
    .searchbar-ios .searchbar-search-icon{
        top:.8rem;
    }
    .search-title{
        margin-bottom: 15px;
    }
    .search-list{
        background: #fff;
        
        ion-grid{
            ion-col{
                &:nth-child(n+2){
                    text-align: right;
                }
                &:nth-child(-n+2){
                    height: 3.2rem;
                    line-height: 3rem;
                }
                font-size:1.3rem;
            }
        }
    }
    .searchbar-ios .searchbar-input{
        border-radius: 20px;
    }
    .labelGroud{
        padding:15px;
        padding-top:0;
    }
    .badge-md,.badge-ios,ion-badge{
        color: #8A8A8A;
        padding:5px 8px;
        background-color:#fff;
        border:#E2E2E2 1px solid;
        border-radius:6px;
        font-weight: normal;
        margin:5px 5px 5px ;
        font-size:14px;
    }
    .labelGroud{
        ion-row{
            ion-col{
                &:last-child{
                    margin-top:18px;
                }
                .bar-button::after, .icon{
                    font-size:20px !important
                }
            }
        }
    }

}
